.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.message {
  align-items: center;
  justify-content: center;
}

.contacts__logo {
  width: 90px;
  margin: 50px;
}
